.header {
  height: 60px;
  width: 100%;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  gap: 20px;


  font-weight: 700;
  color: var(--nord6);
  background-color: var(--nord3);

  h1 {
    margin: 0;
  }
}

.navigation {
  a {
    font-size: 20px;
    color: var(--nord6);
  }

  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.content {
  height: calc(100vh - 60px);
  width: 100%;
  padding: 10px;
  overflow: auto;

  background-color: var(--nord6);
}
